.abt-sub-hdng{
    margin: 0 auto;
}
.summary-cntnt{
    margin-bottom: 25px;
}
.tags-hdng{
    margin-top: 15px;
}
.service-description{
    margin-bottom: 15px;
}

.service-btn{
    margin-top: 20px;
}
.cntct-sub-hdng{
    margin-bottom: 20px;
}
.test-text{
    margin-bottom: 20px;
}